<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Stripmall Software</h3>
				<ul class="mb3">
					<li><a href="http://stripmall.software" class="link">Home</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Links</h3>
				<ul class="mb3">
					<li><a href="http://www.timewellspent.io/" class="link" target="_blank">Time Well Spent</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">&nbsp;</h3>
				<ul class="mb3">

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
{{ template "_internal/google_analytics.html" . }}
</body>

</html>
