<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">

			<div class="w-40-l ph2-l">
				<img src="img/home/stripmall-logo_512px.png" alt="" class="mb3">
			</div>
			<div class="w-60-l ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h1>
				<ul class="blist">
					<li>Our tech is supposed to make us more productive, more free. Yet everywhere, everyone seems endlessly shackled to their screens.
					</li>
					<li>Software that learns about how we interact with the world and other software and that cues us to take concrete actions may be one path towards a more emancipatory relation to technology.
					</li>		
				</ul>
			</div>
		</div>

		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>

	</div>
</div>
