<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">

			<div class="w-40-l ph2-l">
				<img src="img/home/stripmall-logo_512px.png" alt="" class="mb3">
			</div>
			<div class="w-60-l ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h1>
				<ul class="blist">
					<li>We spend so much time engaged with our devices, yet we'd be better served if they cued behavior made us more productive.</li>
					<li>Actions are better than calls to action; checklists are a honking great idea.</li>
					<li>Apps that learn about how we interact with software and poke us when we need to do something are the way to deliver on the above promises. </li>
				</ul>
			</div>
		</div>

		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>

	</div>
</div>
