{{ partial "head" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<a href="/"><img src="/img/stripmall-logo_256px.png" alt="" class="db w4 center pv4"></a>

		<p>Get in touch with us to: criticize and encourage us about things we have made; ideas for new apps and integrations; 
			or the opportunity to partner on bringing something new into the world.</p>		
		<div class="flex-ns mb3">	

			<div>
				<p>	robert@stripmall.sofware<br/>
				718-249-5919 <br/>
				345 Waverly Ave, Brooklyn NY 11238
				</p>
			</div>

		
		</div>			
			
		{{ partial "contact-form" . }}


	</div>
</div>

{{ partial "footer" . }}
