{{ partial "head" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Fill out your time sheets!") }}

{{ partial "short-text" (dict "heading" "Never miss a billable hour." "text" "<p>You're a freelancer whose clients ask you to fill out a timesheet. </p> <p>What up?</p>")}}

{{ partial "meat" (dict "heading" "What we offer" "description" "Get a periodic reminder to fill out your timesheets.  " "icon1" "fa-usd" "text1" "Morever, the app learns about you and where and when you work." "svg2" "img/home/harvest.png" "text2" "We've started with harvest, but will be bringing more timsheet packages on line soon. Let us know which ones you would like. Sign up and get free access to all our apps." "buttonText" "Sign up" "buttonLink" "https://app.stripmall.software"  ) }}

{{ partial "stripmall" (dict "heading" "TLDR;" "text" "Stripmall software is dedicated to " "buttonText" "Read even more" "buttonLink" "/about") }}

